<a href="https://colab.research.google.com/github/seimwiwa/scu_master_degree_program_data_science_introduction_to_data_science/blob/main/20221001_02_Python_Language.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Env

In [ ]:
from math import *

# Home work

## Home work 1: dela with String
假設字串變數 s1 = “Today is Friday”。
1. s1 是否包含 ”day”?
2. ”day” 出現次數
3. ”day” 出現最小索引
4. ”day” 出現最大索引
5. s1 的第 2 ~ 4 個字元 **粗體文字**

In [ ]:
var_string_s1 = "Today is Friday"
var_string_target = "day"

### s1 是否包含 ”day”?

In [ ]:
var_string_target in var_string_s1

True

### ”day” 出現次數

In [ ]:
var_string_s1.count(var_string_target)

2

### ”day” 出現最小索引

In [ ]:
var_string_s1.find(var_string_target)

2

### ”day” 出現最大索引

In [ ]:
var_string_s1.rfind(var_string_target)

12

### s1 的第 2 ~ 4 個字元

In [ ]:
var_string_s1[1:3]

'od'

## Home work 2: salary incresment
假設小明的月薪是 25000 元，每年調薪幅度為 3%，請問經過多少年小明的月薪會加倍？

$(1 + 0.03)^x >= 2$

$log((1+0.03)^x) >= log(2)$

$x \times log(1.03) >= log(2)$

$x >= log(2) \div log(1.03)$

In [ ]:
ceil(log(2) / log(1+0.03))

24