<a href="https://colab.research.google.com/github/seimwiwa/scu_master_degree_program_data_science_introduction_to_data_science/blob/main/20221015_03_Python_Language.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Env

# Fro loop

## 9 * 9

In [ ]:
for i in range(1, 10, 1):
  for j in range(1, 10, 1):
    print(str(i) + " X " + str(i) + " = " + str(i * j))

1 X 1 = 1
1 X 1 = 2
1 X 1 = 3
1 X 1 = 4
1 X 1 = 5
1 X 1 = 6
1 X 1 = 7
1 X 1 = 8
1 X 1 = 9
2 X 2 = 2
2 X 2 = 4
2 X 2 = 6
2 X 2 = 8
2 X 2 = 10
2 X 2 = 12
2 X 2 = 14
2 X 2 = 16
2 X 2 = 18
3 X 3 = 3
3 X 3 = 6
3 X 3 = 9
3 X 3 = 12
3 X 3 = 15
3 X 3 = 18
3 X 3 = 21
3 X 3 = 24
3 X 3 = 27
4 X 4 = 4
4 X 4 = 8
4 X 4 = 12
4 X 4 = 16
4 X 4 = 20
4 X 4 = 24
4 X 4 = 28
4 X 4 = 32
4 X 4 = 36
5 X 5 = 5
5 X 5 = 10
5 X 5 = 15
5 X 5 = 20
5 X 5 = 25
5 X 5 = 30
5 X 5 = 35
5 X 5 = 40
5 X 5 = 45
6 X 6 = 6
6 X 6 = 12
6 X 6 = 18
6 X 6 = 24
6 X 6 = 30
6 X 6 = 36
6 X 6 = 42
6 X 6 = 48
6 X 6 = 54
7 X 7 = 7
7 X 7 = 14
7 X 7 = 21
7 X 7 = 28
7 X 7 = 35
7 X 7 = 42
7 X 7 = 49
7 X 7 = 56
7 X 7 = 63
8 X 8 = 8
8 X 8 = 16
8 X 8 = 24
8 X 8 = 32
8 X 8 = 40
8 X 8 = 48
8 X 8 = 56
8 X 8 = 64
8 X 8 = 72
9 X 9 = 9
9 X 9 = 18
9 X 9 = 27
9 X 9 = 36
9 X 9 = 45
9 X 9 = 54
9 X 9 = 63
9 X 9 = 72
9 X 9 = 81

## what if wee need add by 2

In [ ]:
for i in range(1, 10, 2): print(i)

1
3
5
7
9

## what if wee need add by 4 and never meet the stop arug

In [ ]:
for i in range(1, 10, 4): print(i)

1
5
9

## what if wee need add by negetive value

In [ ]:
for i in range(1, 10, -1): print(i)

# While loop

## Add from 1 to 6 with while

In [ ]:
var_sum = 0
var_num = 1
while var_num <= 6:
  var_sum = var_sum + var_num
  var_num += 1
print(var_sum)

21

# Break and continue

## Break

In [ ]:
var_sum = 0

for i in range(1, 10):

  print(i)

  if i%2 == 0: break

  var_sum = var_sum + i

print("sum:" + str(var_sum))

1
2
sum:1

## Continue

In [ ]:
var_sum = 0

for i in range(10):

  print(i)

  if i%2 == 0: continue

  var_sum = var_sum + i

print("sum:" + str(var_sum))

0
1
2
3
4
5
6
7
8
9
sum:25